attrs==22.1.0
dill==0.3.6
func-timeout==4.3.5
Jinja2==3.1.2
MarkupSafe==2.1.1
nest-asyncio==1.5.6
numpy==1.23.4
pydantic==1.10.2
PySide6==6.4.0.1
PySide6-Addons==6.4.0.1
PySide6-Essentials==6.4.0.1
qt-material==2.12
shiboken6==6.4.0.1
typing_extensions==4.4.0
